.topPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
    width: 100%;
}

.topPage h1{
    font-size: 3rem;
}

.imageFull{
    width: 100%;
    height: 250px;
}

.imageFull img{
    width: 100%;
    height: 100%;
}

.middleText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 35px 0;

}

.middleText p{
    max-width: 900px;
}

.containerBottom{
    display: flex;
}

.containerBottom .imageSingle{
    width: 520px;
    height: 410px;
  
}

.containerBottom .imageSingle img{
    width: 100%;
    height: 100%;
}

.containerBottom .sideText{
    width: 80%;
    padding: 0 120px;
    text-align: justify;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.containerBottom .sideText h2{
    text-align: end;
    font-size: 2rem;
    font-weight: 500;
}



@media (max-width: 670px) {
    .topPage {
        padding: 10px 20px;
        text-align: center;
    }
    .topPage h1{
        font-size: 1.8rem;
    }

    .imageFull {
        width: 100vw;
        height: 100px;
    }

    .middleText p {
        padding: 20px;
    }

    .containerBottom{
        flex-direction: column;
    }

    .containerBottom .imageSingle{
        width: 100vw;
        height: 310px;
    }

    .containerBottom .sideText {
        padding: 20px;
        width: 100%;
    }

    .containerBottom .sideText, .containerBottom .sideText h2{
        text-align: justify;
    }
}