.tasksContainer{
    height: calc(100vh - 60px);
    background-color: #404040;
}

.tasksContainer img{
    width: 100%;
}

.tasksContainer .statusBoard{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.tasksContainer .statusBoard .status{
    width: 300px;
    height: 100px;
    border-radius: 10px;
    margin: 40px 0;
    padding: 10px;
    display: flex;
    align-items: baseline;
}

.tasksContainer .statusBoard img{
    width: 32px;

}

.tasksContainer .statusBoard p{
    font-size: 23px;

}

.tasksContainer .statusBoard #to-do{
    background-color: #0084ff3f;
    color: #80C2FF;
    display: flex;
    justify-content: space-between;
}

.tasksContainer .statusBoard #to-do #to-do-div{
    gap: 0.5rem;
    display: flex;
    align-items: center;
}


.tasksContainer .statusBoard #doing{
    background-color: #ffb70046;
    color: #FFDB80;
    display: flex;
    justify-content: space-between;
}

.tasksContainer .statusBoard #doing #doing-div{
    gap: 0.5rem;
    display: flex;
    align-items: center;
}

.tasksContainer .statusBoard #testing{
    background-color: #ff2f0050;
    color: #FF9680;
    display: flex;
    justify-content: space-between;
}

.tasksContainer .statusBoard #testing #test-div{
    gap: 0.5rem;
    display: flex;
    align-items: center;
}


.tasksContainer .statusBoard #done{
    background-color: #15ff0054;
    color: #89FF80;
    display: flex;
    justify-content: space-between;
}

.tasksContainer .statusBoard #done #done-div{
    gap: 0.5rem;
    display: flex;
    align-items: center;
}